.App {
  text-align: center;
  background-image: linear-gradient(#ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin: 0 auto;
  background-color: #faafc5;
  border: 5px solid black;
  box-shadow: 3px 3px;
}
td {
  width: 150px;
  height: 150px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  
}
tr:last-child > td {
  border-bottom: none;
}

td:last-child {
  border-right: none;
}
.fade-in {
  font-size: 40px;
  font-weight: bolder;
  animation: fadeIn ease-in-out 0.4s;
}

@keyframes fadeIn {
  0%{
    opacity: 0%;
  }
  50% {
    font-size: 120px;
  }
  100% {
    font-size:100%;
  }
  
}


button {
  background-color: #000000;
  color:#ffffff;
  border:none;
  outline:none;
  padding:10px 20px;
  font-size:20px;
  margin-top:30px;
  margin-bottom:10px;
  cursor:pointer;
}

.game-over {
  animation: fade-game ease-in-out 0.4s;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  color: #000000;
}

@keyframes .fade-game {
  0%{
    opacity:0%;
  }
  50%{
    font-size:large;
  }
  100%{
    opacity: 100%;

  }
}